body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**** Template CSS above. My custom CSS below. ****/


/** Background Coloring **/
.mid-coloring {
  background-color: #66BFBF;
}


/** Fonts **/
.title {
  padding: 3rem 5% 0rem 5%;
  font-family: "Courgette";
  font-size: 4rem;
}
.subtitle {
  font-family: "Courgette";
  font-size: 2rem;
  padding-top: 0.25rem;
  margin-bottom: 0;
}


/** Header Section & Navigation Bar **/
header {
}
header h1 {
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin-top: 0;
}
.container-fluid {
  padding: 0% 4%;
}
.navbar {
  padding: 0 0 0.5rem;
}
.navbar-brand {
  font-family: "Courgette";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0;
}
.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
  margin: 0 5px;
}



/** Home Section **/
.home-section {
  text-align: center;
}
.profile-picture {
  margin: 1rem;
  border-radius: 50%;
  border: 7px solid #66BFBF;
  height: 500px;
}



/** Background Section for Education, Work Experience, and Portfolio **/
.background-section {
  text-align: center;
  padding: 0% 5% 0% 5%;
}


/* Education Section */
.card {
  max-width: 600px;
  min-width: 400px;
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 50px auto;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}
.card-top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.card-name {
  font-size: 1.6rem;
  font-family: "McLaren", cursive;
  font-weight: bold;
  color: black;
  display: flex;
  flex: 1;
  margin: 2.4rem 0 0 30px;
}
.card img {
  margin: 30px 20px 0 0;
}
.circle-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.card-bottom {
  margin-top: 90px;
}
.card-info {
  margin: 10px 0 0 30px;
  color: black;
  font-family: "Montserrat-Light";
  font-size: 1.1rem;

}








/** Resume Download Button **/
.resume-download-section {
  position: relative;
  text-align: center;
  padding: 2rem 5% 2rem 5%;
}
.resume-download-button {
  background-color: #66BFBF;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
  border-style: bold;
}



/** Footer Section **/
footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer p {
  color: grey;
  padding-bottom: 1%;
  margin-top: 1%;
  font-family: "Ubuntu";
}
.social-icons {
  margin: 0 2% 0 2%;
  color: black;
  font-size: 1.5rem;
}
